.mobile-nav-open span:nth-child(1) {
  top: 7px;
  rotate: -150grad;
}

.mobile-nav-open span:nth-child(3) {
  bottom: 7px;
  transform: rotate(-45deg);
}

.mobile-nav-open span:nth-child(2) {
  transform: rotate(-45deg);
  background: rgba(255, 255, 255, 0);
  width: 1px;
}